* {
  font-family: arial;
  padding: 0;
  margin: 0;
}
.main {
  width: 90%;
  display: flex;
  margin: auto;
  flex-direction: column;
}
.logo {
  margin-top: 10%;
}
.text {
  margin-top: 10%;
  font-size: 24px;
}
.text b {
  line-height: 2em;
}
b + p {
  font-size: 16px;
  margin-bottom: 5%;
}

input {
  color: grey;
  padding: 3%;
  margin-top: 3%;
  border-radius: 5px;
  border: 1px solid;
}
.button1 {
  background-color: #3258fb;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  border: none;
}
.form {
  display: flex;
  flex-direction: column;
}
.text2 {
  margin-top: 5%;
  text-align: center;
  color: grey;
}
.text3 {
  margin-top: 5%;
  text-align: center;
}
.text3 a {
  text-decoration: none;
  color: blue;
}
.hidden {
  display: none;
}
.combinedLine {
  display: none;
}
.text3_head {
  display: none;
}
#logo_full_stats {
  display: none;
}
@media screen and (min-width: 1024px) {
  .main {
    flex-direction: row;
    width: 95%;
    height: 650px;
  }
  .logo {
    display: none;
  }
  .registfather {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form {
    display: flex;
    justify-content: center;
    width: 50%;
    align-self: center;
    margin-top: 5%;
  }
  .button1 {
    width: 100%;
  }
  input {
    color: grey;
    padding: 3%;
  }
  .combinedLine {
    display: block;
    display: flex;
  }
  .combinedLine input {
    margin-right: 4%;
  }
  .combinedLine + input {
    display: none;
  }
  .text3 {
    display: none;
  }
  .text3_head {
    display: flex;
    align-self: flex-end;
    margin-top: 5%;
  }
  img + b {
    font-size: 26px;
  }
  #logo {
    width: 10%;
    margin-right: 2%;
  }
  #name {
    display: none;
  }
  .hiddenfather {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 10px 16px -10px;
    color: #919eab;
    height: 100%;
    border-radius: 15px;
  }
  .hidden {
    display: block;
    margin-bottom: 30%;
  }
  #logo_full_stats {
    display: flex;
    color: black;
  }
  .text3_head a {
    text-decoration: none;
    text-indent: 5px;
  }
}
